$main-font: 'Josefin Sans', sans-serif;
$font-weights: (
    "regular": 400,
    "bold": 700
);
$accent-font: 'Aleo', serif;
$text-color: #FFFFFF;
$accent-color: #999999;
$button-color: #5474FD;