@use 'fonts';


.footer{
    width: 100%;
    max-height: 271px;
    height: 100%;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

&__wrapper{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    
}

&__title{
    font-size: 24px;
    line-height: 26px;
    color: fonts.$text-color;
    font-family: fonts.$main-font;
    font-weight: map-get(fonts.$font-weights, bold);
    margin-bottom: 0;
}

&__title:hover{
    text-shadow: 2px 2px orange;
    cursor: pointer;
}

&__text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: fonts.$text-color;
    font-family: fonts.$main-font;
    font-weight: map-get(fonts.$font-weights, regular);
    margin-bottom: 0;
}

&__list{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;

}

&__list-point{
    list-style: none;
}

&__list-link{
    text-decoration: none;
    color: white;
}

&__list-link:hover{
    color: #5474FD;
}

&__list-link:focus{
    text-shadow: 2px 2px orange;
}
}

@media  screen and (max-width: 961px){
    .footer{
        &__text{
            font-size: 14px;
        }

        &__wrapper{
            width: 40%;
        }
    }
}

@media  screen and (max-width: 768px){
    .footer{
        &__wrapper{
            width: 30%;
        }
    }
}

@media  screen and (max-width: 576px){
    .footer{
        &__wrapper{
            width: 40%;
        }
    }
}

@media  screen and (max-width: 434px) {
    .footer{
        &__wrapper{
            width: 60%;
        }
    }
}

@media  screen and (max-width: 281px) {
    .footer{
        &__wrapper{
            width: 80%;
        }
        &__text{
            font-size: 12px;
        }
    }
}

