@use 'fonts';


.landing-page{
    width: 100%;
    max-height: 820px;
    height: 100%;
    background-image: url(../images/blue-landscape.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


&__main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

&__main-title{
    font-family: fonts.$main-font;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    color: fonts.$text-color;
    font-weight: map-get(fonts.$font-weights, bold);
    text-align: center;
    margin-bottom: 11px;
    }

&__main-text{
    text-align: center;
    color: fonts.$text-color;
    font-family: fonts.$main-font;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.82px;
    margin-top: 0;

}
&__form{
    display: flex;
    flex-direction: row;
    width: 653px;
    border: 2px solid white;
    margin-top: 30px;
    
}

&__scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: fonts.$text-color;
    font-family: fonts.$main-font;
    font-weight: map-get(fonts.$font-weights, regular);
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    justify-content: flex-end;
    height: 20%;
}

&__navigation{
    align-self: flex-end;
    background-color: #5474FD;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

}

&__navigation-list{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}
&__navigation-link{
    text-decoration: none;
    color: fonts.$text-color;
    font-weight: map-get(fonts.$font-weights, regular);
    font-family: fonts.$accent-font;
    font-size: 14px;
    line-height: 26px;

}

&__navigation-link:hover{
    font-size: 17px;
}

&__navigation-link:focus{
    text-shadow: 2px 2px orange;
}


&__navigation-logo{
    font-family: fonts.$main-font;
    font-weight: map-get(fonts.$font-weights, bold);
    color: fonts.$text-color;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

&__navigation-logo:hover{
    text-shadow: 2px 2px orange;
    cursor: pointer;
}
}

.input-field{
    width: 503px;
    padding: 18px 19px;
    background: #FFFFFF;
    border: none;

}

.input-field::-webkit-input-placeholder{
    text-align: center;
    color: fonts.$accent-color;
    font-family: fonts.$main-font;
    font-weight: map-get(fonts.$font-weights, regular);
    
   
}

.btn{
    width: 153px;
    height: 63px;
    color: fonts.$text-color;
    background-color: fonts.$button-color;
    border: 2px solid white;
    font-family: fonts.$accent-font;
    font-weight: map-get(fonts.$font-weights, regular);
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-align: center; 
    
}

.btn:hover{
    filter: saturate(3);
}

.fa-magnifying-glass{
    font-size: 20px;
    padding-left: 12px;
    
}

button{
    display: flex;
  flex-direction: row;
   align-items: center;
  justify-content: center;
}

.fa-bars{
    display: none;
}

.overlay{
    display: none;
}

@media  screen and (max-width: 1150px) {
    .landing-page{
        &__navigarion{
            width: 80%;
        }

        &__navigation-link{
            font-size: 12px;
        }

        &__navigation-logo{
            font-size: 20px;
        }
    }
}

@media  screen and (max-width: 961px) {


    .landing-page__navigation-list{
        display: none;
    }

    .overlay {
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1; 
        left: 0;
        top: 0;
        background-color: #5474FD; 
        opacity: 0.8; 
        overflow-x: hidden; 
        transition: 0.5s; 
      }
      

      .overlay-content {
        position: relative;
        top: 30%; 
        width: 100%; 
        text-align: center; 
        margin-top: 30px; 
        // border: 2px solid red; 
      }
      
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 38px;
        font-family: fonts.$main-font;
        text-shadow: 5px 5px #5474FD;
        font-weight: map-get(fonts.$font-weights, bold);
        color: fonts.$text-color;
        font-size: 30px;
        line-height: 3.125rem; /*50px;*/
        display: block; 
        transition: 0.3s; 
      }
      

      .overlay a:hover, .overlay a:focus {
        font-size: 40px;
        color: orange;
      }
      
     
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }


    .fa-bars{
        font-size: 30px;
        color: white;
        display: block;

    }
    
    .open_bars{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media  screen and (max-width: 691px){
    
}