@use 'fonts';


.main-choose{
    width: 100%;
    max-height: 685px;
    height: 100%;
    background-image: url(../images/dark-castle.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;




&__text{
    max-width: 560px;
    width: 70%;
    height: 60%;

    
} 

&__text-title{
    color: fonts.$text-color;
    font-family: fonts.$accent-font;
    font-weight: map-get(fonts.$font-weights, regular);
    font-size: 36px;
    line-height: 26px;
}

&__text-text{
    color: fonts.$text-color;
    font-family: fonts.$main-font;
    font-weight: map-get(fonts.$font-weights, regular);
    letter-spacing: 1.6px;
    font-size: 16px;
    line-height: 26px;
}

&__pic{
    display: flex;
    flex-direction: column;
    width: 25%;
    
}

&__pic-pic-1{
    width: 350px;
    height: 220px; 
    align-self: flex-start;
    padding-bottom: 10px;
}

&__pic-pic-2{
    width: 350px;
    height: 220px;
    align-self: flex-end; 
}

&__btn{
    width: 228px;
    height: 63px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    font-family: fonts.$accent-font;
    font-weight: map-get(fonts.$font-weights, regular);
    background-color: #5474FD;
    color: fonts.$text-color;
    margin-top: 45px;
    border: none;

}

&__btn:hover{
    filter: saturate(3);
}

&__btn:focus{
    outline: 3px dashed orange;
  outline-offset: 10px;
}

}

@media  screen and (max-width: 1150px) {
    .main-choose{
        &__text{
          width: 40%;
       }

        &__text-title{
            font-size: 33px;
        } 

        &__text-text{
            font-size: 14px;
        }

        &__pic-pic-1,
        &__pic-pic-2 {
            width: 300px;
            height: 180px; 
            align-self: flex-start;
        }
    }
}

@media  screen and (max-width: 846px) {
    .main-choose{
        justify-content: space-around;

    &__pic{
        width: 40%;
    }
    }
}

@media  screen and (max-width: 691px) {
    .main-choose{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;


        &__pic-pic-1,
        &__pic-pic-2{
            display: none;
        }

        &__text{
            width: 80%;
        }
    }
}

@media  screen and (max-width: 469px){
    .main-choose{
        &__btn{
            margin-top: 15px;
        }
    }
}