.landing-page {
  width: 100%;
  max-height: 820px;
  height: 100%;
  background-image: url(../images/blue-landscape.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.landing-page__main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
}
.landing-page__main-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  margin-bottom: 11px;
}
.landing-page__main-text {
  text-align: center;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  margin-top: 0;
}
.landing-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 653px;
  border: 2px solid white;
  margin-top: 30px;
}
.landing-page__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 20%;
}
.landing-page__navigation {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #5474FD;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.landing-page__navigation-list {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}
.landing-page__navigation-link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 26px;
}
.landing-page__navigation-link:hover {
  font-size: 17px;
}
.landing-page__navigation-logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
}
.landing-page__navigation-logo:hover {
  text-shadow: 2px 2px gray;
  cursor: pointer;
}

.input-field {
  width: 503px;
  padding: 18px 19px;
  background: #FFFFFF;
  border: none;
}

.input-field::-webkit-input-placeholder {
  text-align: center;
  color: #999999;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.btn {
  width: 153px;
  height: 63px;
  color: #FFFFFF;
  background-color: #5474FD;
  border: 2px solid white;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-align: center;
}

.btn:hover {
  -webkit-filter: saturate(3);
          filter: saturate(3);
}

.fa-magnifying-glass {
  font-size: 20px;
  padding-left: 12px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-choose {
  width: 100%;
  max-height: 685px;
  height: 100%;
  background-image: url(../images/dark-castle.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-choose__text {
  max-width: 560px;
  width: 70%;
  height: 60%;
}
.main-choose__text-title {
  color: #FFFFFF;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
}
.main-choose__text-text {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1.6px;
  font-size: 16px;
  line-height: 26px;
}
.main-choose__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}
.main-choose__pic-pic-1 {
  width: 350px;
  height: 220px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 10px;
}
.main-choose__pic-pic-2 {
  width: 350px;
  height: 220px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.main-choose__btn {
  width: 228px;
  height: 63px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  font-family: "Aleo", serif;
  font-weight: 400;
  background-color: #5474FD;
  color: #FFFFFF;
  margin-top: 45px;
  border: none;
}
.main-choose__btn:hover {
  -webkit-filter: saturate(3);
          filter: saturate(3);
}

.main-process {
  width: 100%;
  max-height: 350px;
  height: 100%;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-process__wrapper {
  width: 50%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/arcs.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.main-process__caption {
  width: 220px;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "Aleo", serif;
  font-weight: 400;
}
.main-process__search, .main-process__select, .main-process__book {
  width: 0%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.process-glass {
  font-size: 60px;
  color: #5474FD;
  background-color: #333333;
}

.fa-circle-check {
  font-size: 60px;
  color: #FF6363;
  background-color: #333333;
}

.fa-thumbs-up {
  font-size: 60px;
  color: #00A2FF;
  background-color: #333333;
}

.main-description-1 {
  width: 100%;
  max-height: 700px;
  height: 100%;
  background-image: url(../images/luxury-house.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-description-1__wrapper {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-description-1__content {
  max-width: 543px;
  width: 100%;
  max-height: 374px;
  height: 100%;
  background-color: #232323;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}