.landing-page {
  width: 100%;
  max-height: 820px;
  height: 100%;
  background-image: url(../images/blue-landscape.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.landing-page__main {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90%;
}
.landing-page__main-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  line-height: 26px;
  letter-spacing: 4.8px;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  margin-bottom: 11px;
}
.landing-page__main-text {
  text-align: center;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 6.82px;
  margin-top: 0;
}
.landing-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 653px;
  border: 2px solid white;
  margin-top: 30px;
}
.landing-page__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2.8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 20%;
}
.landing-page__navigation {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: #5474FD;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.landing-page__navigation-list {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}
.landing-page__navigation-link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 26px;
}
.landing-page__navigation-link:hover {
  font-size: 17px;
}
.landing-page__navigation-link:focus {
  text-shadow: 2px 2px orange;
}
.landing-page__navigation-logo {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 2.4px;
}
.landing-page__navigation-logo:hover {
  text-shadow: 2px 2px orange;
  cursor: pointer;
}

.input-field {
  width: 503px;
  padding: 18px 19px;
  background: #FFFFFF;
  border: none;
}

.input-field::-webkit-input-placeholder {
  text-align: center;
  color: #999999;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.btn {
  width: 153px;
  height: 63px;
  color: #FFFFFF;
  background-color: #5474FD;
  border: 2px solid white;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 1.4px;
  text-align: center;
}

.btn:hover {
  -webkit-filter: saturate(3);
          filter: saturate(3);
}

.fa-magnifying-glass {
  font-size: 20px;
  padding-left: 12px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-bars {
  display: none;
}

.overlay {
  display: none;
}

@media screen and (max-width: 1150px) {
  .landing-page__navigarion {
    width: 80%;
  }
  .landing-page__navigation-link {
    font-size: 12px;
  }
  .landing-page__navigation-logo {
    font-size: 20px;
  }
}
@media screen and (max-width: 961px) {
  .landing-page__navigation-list {
    display: none;
  }
  .overlay {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #5474FD;
    opacity: 0.8;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 38px;
    font-family: "Josefin Sans", sans-serif;
    text-shadow: 5px 5px #5474FD;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 3.125rem; /*50px;*/
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    font-size: 40px;
    color: orange;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .fa-bars {
    font-size: 30px;
    color: white;
    display: block;
  }
  .open_bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.main-choose {
  width: 100%;
  max-height: 685px;
  height: 100%;
  background-image: url(../images/dark-castle.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-choose__text {
  max-width: 560px;
  width: 70%;
  height: 60%;
}
.main-choose__text-title {
  color: #FFFFFF;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
}
.main-choose__text-text {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1.6px;
  font-size: 16px;
  line-height: 26px;
}
.main-choose__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}
.main-choose__pic-pic-1 {
  width: 350px;
  height: 220px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 10px;
}
.main-choose__pic-pic-2 {
  width: 350px;
  height: 220px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.main-choose__btn, .main-description-1__btn {
  width: 228px;
  height: 63px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  font-family: "Aleo", serif;
  font-weight: 400;
  background-color: #5474FD;
  color: #FFFFFF;
  margin-top: 45px;
  border: none;
}
.main-choose__btn:hover, .main-description-1__btn:hover {
  -webkit-filter: saturate(3);
          filter: saturate(3);
}
.main-choose__btn:focus, .main-description-1__btn:focus {
  outline: 3px dashed orange;
  outline-offset: 10px;
}

@media screen and (max-width: 1150px) {
  .main-choose__text {
    width: 40%;
  }
  .main-choose__text-title {
    font-size: 33px;
  }
  .main-choose__text-text {
    font-size: 14px;
  }
  .main-choose__pic-pic-1, .main-choose__pic-pic-2 {
    width: 300px;
    height: 180px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.main-process {
  width: 100%;
  max-height: 350px;
  height: 100%;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-process__wrapper {
  width: 50%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url(../images/arcs.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.main-process__caption {
  width: 220px;
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "Aleo", serif;
  font-weight: 400;
}
.main-process__search, .main-process__select, .main-process__book {
  width: 0%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.process-glass {
  font-size: 60px;
  color: #5474FD;
  background-color: #333333;
}

.fa-circle-check {
  font-size: 60px;
  color: #FF6363;
  background-color: #333333;
}

.fa-thumbs-up {
  font-size: 60px;
  color: #00A2FF;
  background-color: #333333;
}

@media screen and (max-width: 1011px) {
  .main-process__caption {
    font-size: 30px;
  }
}
.process-glass,
.fa-circle-check,
.fa-thumbs-up {
  font-size: 40px;
}

@media screen and (max-width: 1061px) {
  .main-process__caption {
    font-size: 20px;
    text-align: center;
  }
  .main-process__wrapper {
    height: 35%;
  }
}
@media screen and (max-width: 961px) {
  .main-process__search, .main-process__select, .main-process__book {
    z-index: 0;
  }
  .process-glass,
.fa-circle-check,
.fa-thumbs-up {
    background-color: transparent;
    z-index: 0;
  }
}
.main-choose {
  width: 100%;
  max-height: 685px;
  height: 100%;
  background-image: url(../images/dark-castle.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-choose__text {
  max-width: 560px;
  width: 70%;
  height: 60%;
}

.main-choose__text-title {
  color: #FFFFFF;
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
}

.main-choose__text-text {
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1.6px;
  font-size: 16px;
  line-height: 26px;
}

.main-choose__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

.main-choose__pic-pic-1 {
  width: 350px;
  height: 220px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 10px;
}

.main-choose__pic-pic-2 {
  width: 350px;
  height: 220px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.main-choose__btn, .main-description-1__btn {
  width: 228px;
  height: 63px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  font-family: "Aleo", serif;
  font-weight: 400;
  background-color: #5474FD;
  color: #FFFFFF;
  margin-top: 45px;
  border: none;
}

.main-choose__btn:hover, .main-description-1__btn:hover {
  -webkit-filter: saturate(3);
          filter: saturate(3);
}

.main-choose__btn:focus, .main-description-1__btn:focus {
  outline: 3px dashed orange;
  outline-offset: 10px;
}

@media screen and (max-width: 1150px) {
  .main-choose__text {
    width: 40%;
  }
  .main-choose__text-title {
    font-size: 33px;
  }
  .main-choose__text-text {
    font-size: 14px;
  }
  .main-choose__pic-pic-1, .main-choose__pic-pic-2 {
    width: 300px;
    height: 180px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.main-description-1 {
  width: 100%;
  max-height: 750px;
  height: 100%;
  background-image: url(../images/luxury-house.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-description-1__wrapper {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-description-1__content {
  max-width: 543px;
  width: 100%;
  max-height: 350px;
  padding-top: 20px;
  height: 100%;
  background-color: #232323;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-description-1__info {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-description-1__title-1 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
.main-description-1__text {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
.main-description-1__btn {
  opacity: 1;
}

.main-description-2 {
  width: 100%;
  max-height: 750px;
  height: 100%;
  background-image: url(../images/mountain-landscape.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.main-description-2__wrapper {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-review {
  width: 100%;
  max-height: 731px;
  height: 100%;
  background-image: url(../images/tourist-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.main-review__wrapper {
  height: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-review__title {
  font-size: 36px;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}
.main-review__tourist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.main-review__tourist-pic {
  width: 445px;
  height: 284px;
}
.main-review__tourist-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333;
  max-width: 668px;
  width: 100%;
}
.main-review__tourist-content-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-review__tourist-content-title {
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
.main-review__tourist-content-text {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.fa-quote-left {
  font-size: 36px;
  color: #5474FD;
}

@media screen and (max-width: 1061px) {
  .main-review__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-review__tourist {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-review__tourist-pic {
    width: 340px;
    height: 230px;
  }
  .main-review__tourist-content {
    width: 50%;
  }
  .main-review__tourist-content-wrapper {
    width: 90%;
  }
  .main-review__tourist-content-title {
    font-size: 18px;
    margin-top: 20px;
  }
  .main-review__tourist-content-text {
    font-size: 12px;
  }
  .fa-quote-left {
    font-size: 30px;
  }
}
@media screen and (max-width: 961px) {
  .main-review__tourist-pic {
    width: 50%;
    height: 100%;
  }
  .main-review__tourist {
    width: 80%;
  }
  .main-review__tourist-content {
    width: 40%;
  }
}
.footer {
  width: 100%;
  max-height: 271px;
  height: 100%;
  background-color: #232323;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__wrapper {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.footer__title {
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
.footer__title:hover {
  text-shadow: 2px 2px orange;
  cursor: pointer;
}
.footer__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #FFFFFF;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
.footer__list {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
}
.footer__list-point {
  list-style: none;
}
.footer__list-link {
  text-decoration: none;
  color: white;
}
.footer__list-link:hover {
  color: #5474FD;
}
.footer__list-link:focus {
  text-shadow: 2px 2px orange;
}

@media screen and (max-width: 961px) {
  .footer__text {
    font-size: 14px;
  }
}
html {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}