@import 'fonts';
@import 'landing-page';
@import 'main-choose';
@import 'main-process';
@import 'main-description-1';
@import 'main-description-2';
@import 'main-review';
@import 'footer';

html{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
}